<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.abx.abx.app" version="1.0.1" versionCode = "10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">


<!-- versionCode is optional and Android only -->

  <name>abx biogram</name>

  <description>
     biogram
  </description>

  <author href="http://www.clinicalpharmacytraining.co.uk" email="clinicalpharmacytraining@gmail.com">
       Clinical Pharmacy
  </author>

   <content src="index.html"></content>
   <preference name="phonegap-version" value="cli-8.0.0" />
   <gap:plugin name="admob" version="5.4.2" source="npm"/>
</widget>